<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<style>
    span {
        width:100px;
    }
</style>
<h1><%=title%></h1>
<div class="row justify-content-center">
    <div class="col-10 col-md-6 card">
        <form class="card-body" name="frm" method="post" action="/users/update">
            <input name="uid" value="<%=user.uid%>" type="hidden">
            <div class="input-group mb-2">
                <span class="input-group-text">이름</span>
                <input name="uname" class="form-control" value="<%=user.uname%>">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text">전화</span>
                <input name="phone" class="form-control" value="<%=user.phone%>">
            </div>
            <div class="input-group mb-1">
                <span class="input-group-text">주소</span>
                <input name="address1" class="form-control" value="<%=user.address1%>">
                <button id="btn-search" type="button" class="btn btn-primary px-5">검색</button>
            </div>
            <div>
                <input name="address2" class="form-control" placeholder="상세주소" value="<%=user.address2%>">
            </div>
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary">수정</button>
                <button type="reset" class="btn btn-secondary">취소</button>
            </div>
        </form>
    </div>
</div>
<script>
    $("#btn-search").on("click", function(){
        new daum.Postcode({
            oncomplete:function(data){
                console.log(data);
                const building=data.buildingName;
                let address="";
                if(building!=""){
                    address=`${data.address}(${building})`
                }else{
                    address=data.address
                }
                $(frm.address1).val(address);
            }
        }).open();
    });
</script>