<h1><%=title%></h1>
<div class="text-end mb-2" id="buttons">
    <a href="/posts/update?pid=<%=post.pid%>" class="btn btn-primary btn-sm update">
        수정
    </a>
    <button class="btn btn-danger btn-sm delete">삭제</button>
</div>
<div class="card">
    <div class="card-body">
        <div><b>[<%=post.pid%>] <%=post.title%></b></div>
        <hr>
        <div><%=post.contents%></div>
    </div>
    <div class="card-footer" style="font-size:12px; color:gray;">
        <span>작성자: <%=post.writer%></span>
        <sapn class="ms-3">작성일: <%=post.fdate%></sapn>
    </div>
</div>
<script>  // 수정 삭제 로그인한 id에 따라 show hide 설계
    const writer="<%=post.writer%>";
    if(uid==writer){
        $("#buttons").show();
    }else{
        $("#buttons").hide();
    }
    //삭제버튼 클릭한경우
    $("#buttons").on("click", ".delete", function(){  //아이디가 button 을 클릭했을때 function 내부를 콜백
        const pid="<%=post.pid%>";
        if(confirm(`${pid}번 게시글을 삭제하실래요?`)){
            //삭제작업
            location.href="/posts/delete?pid=" + pid;
           
        }
    });

</script>